version: 2.1
executors:
  base:
    docker:
      - image: cimg/base:2024.01
  nix:
    docker:
      - image: nixos/nix:2.16.3
jobs:
  run_unit_tests:
    executor: nix
    steps:
      - run:
          name: Enable Nix flakes
          command: echo 'experimental-features = nix-command flakes' >> /etc/nix/nix.conf
      - checkout
      - attach_workspace:
          at: ./
      - run:
          name: Run unit tests
          command: nix develop --command zig build test --summary all
  compile_test_cases:
    executor: nix
    steps:
      - run:
          name: Enable Nix flakes
          command: echo 'experimental-features = nix-command flakes' >> /etc/nix/nix.conf
      - checkout
      - attach_workspace:
          at: ./
      - run:
          name: Compile mnc
          command: nix develop --command bash -c \
              'zig build -Doptimize=ReleaseSafe --verbose'
      - run:
          name: Compile test cases
          command: nix develop --command ./dev-scripts/compile-testcases
      - persist_to_workspace:
          root: ./
          paths:
            - ./testdata/bytecode/*.bytecode
  benchmark:
    executor: nix
    steps:
      - run:
          name: Enable Nix flakes
          command: echo 'experimental-features = nix-command flakes' >> /etc/nix/nix.conf
      - checkout
      - attach_workspace:
          at: ./
      - run:
          name: Benchmark eth-zvm
          command: |
            nix develop --command bash -c \
              'zig build -Doptimize=ReleaseFast --verbose'
            nix develop --command bash -c \
              'dev-scripts/benchmark-all-inputs ./zig-out/bin/eth-zvm 30'
      - persist_to_workspace:
          root: ./
          paths:
            - ./benchmarks/*.benchmark
  benchmark_evm:
    executor: base
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run:
          name: Download official evm implementation
          command: ./dev-scripts/download-evm
      - run:
          name: Benchmark evm
          command: |
            alias besu-evm='evm' && \
              dev-scripts/benchmark-all-inputs besu-evm 30
      - persist_to_workspace:
          root: ./
          paths:
            - ./benchmarks/*.benchmark
  benchmark_evm:
    docker:
      image: hyperledger/besu-evmtool:24.1
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run:
          name: Benchmark evm
          command: dev-scripts/benchmark-all-inputs evm 30
      - persist_to_workspace:
          root: ./
          paths:
            - ./benchmarks/*.benchmark
  make_benchmark_graph:
    executor: base
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - store_artifacts:
          path: benchmarks/
workflows:
  version: 2
  test-deploy:
    jobs:
      - run_unit_tests
      - compile_test_cases
      - benchmark:
          requires:
            - compile_test_cases
      - benchmark_evm:
          requires:
            - compile_test_cases
      - benchmark_besu:
          requires:
            - compile_test_cases
      - make_benchmark_graph:
          requires:
            - benchmark
            - benchmark_evm
